@import '~css-base';

.page {

	.logo {
		background: $logo-url;
		width: 200px;
		height: 198px;
		background-size: 100%;
		margin: 0 auto;
	}

	h1 {
		text-align: center;
    padding-top: 10px;
		font-weight: 600;
		font-family: $english-font-title;
	}

	.picture-details {

		p {
			margin: 0 !important;
			padding: 10px 0 0 8px;
		}

		.action-container {
			position: relative;
			height: 45px;

			.like {
				position: absolute;
				top: 10px;

				svg {
					stroke: #bfb5b5 !important;
					fill: #bfb5b5 !important;
					width: 20px !important;
					height: 20px !important;
					position: relative;

					&:hover {
						top: -10px;
						stroke: #b54444 !important;
						fill: #b54444 !important;
					}

				}

				span {
					padding-left: 10px;
				}


			}
		}


	}

}